body {
    margin: 0;
    font-family: Tahoma, Helvetica, sans-serif;
}

nav, #topnav {
    overflow: hidden;
    background-color: #333;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
    line-height: 25px;
    padding: 0 45px;
    font-size: large;
}

h2 {
    padding: 0 45px;
    color: #6c07a5;
}

h4 {
    text-align: center;
    color: #b6b6b6;
}

form {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 10px;
    font-size: 16px;
    color: #6c07a5;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 250px;
    text-align: right;
}

input, textarea {
    width: 400px;
    height: 35px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 14px;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 100px;
    resize: vertical;
}

button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd91f0;
}

button:hover {
    background: #4d0278;
}

footer {
    font-size: 14px;
}

#btn {
    display: inline-block;
    text-align: center;
    width:100%;
}

#active {
    background-color: #e396f2;
    color: white;
}

#movimente {
    font-family: 'Bradley Hand', 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
}

.grid-template-columns {
    grid-template-columns: 33% 33% 33%;
    justify-self: center;
    text-align: center;
}

.grid {
	display: grid;
}

@media (max-width: 320px) {

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width:60%;
    }

    h4 {
        font-size: 0.8em;
        padding: 5px;
    }

    h2 {
        font-size: medium;
    }

    form {
        width: 80%;
        font-size: 0.8em;
    }
    
    label {
        width: 100%;
        text-align: center;
    }
    
    input, textarea {
        width: 100%;
        height: 35px;
        font-size: 0.8em;
    }

    textarea {
        height: 100px;
        font-size: 1em;
    }

    footer {
        font-size: 0.8em;
    }

    nav a {
        padding: 4% 4%;
        font-size: 0.8em;
    }

    button {
        margin: auto;
        font-size: 0.8em;
    }

    #movimente {
        font-size: 1.2em;
    }

    .grid-template-columns {
        grid-template-columns: 100%;
    }
}
